rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Users/{document} {
      allow create: if request.auth.uid == document;
      allow read: if true;
      allow write: if request.auth.uid == document;
      allow delete: if false;
    }

    match /ToDoList/{document} {
      allow create: if request.resource.data.user == /databases/$(database)/documents/Users/$(request.auth.uid);
      allow read: if resource.data.user == /databases/$(database)/documents/Users/$(request.auth.uid);
      allow write: if resource.data.user == /databases/$(database)/documents/Users/$(request.auth.uid);
      allow delete: if resource.data.user == /databases/$(database)/documents/Users/$(request.auth.uid);
    }
  }
}
